<div class='request-comment'>
  <% if display_delete? request.user, comment.user %>
    <div class='delete'>
      <%= link_to 'x', comment_path(comment), confirm: 'Do you really want to delete this comment?', method: :delete, remote: true %>
    </div>
  <% end %>
  <div class='request-comment-message'>
  <%= RDiscount.new(comment.body, :filter_html).to_html.html_safe %>
  </div>
   <% if comment.user %>
      <%= image_tag(comment.user.avatar_url, class: 'request-comment-avatar') %>
    <% else %>
      <div class= 'request-comment-avatar' id="smiley-face">
        <i class="fa fa-smile-o fa-5x"></i>
      </div>
    <% end %>
  <span class='request-comment-time'>
    <%= comment.created_at.strftime("Reviewed by #{comment.author} on %b %d, %Y at %I:%M%p") %>
  </span>
</div>
