<div class='comment-form'>
  <%= form_for @comment do |f| %>
    <div class='field'>
      <%= f.text_area :body, class: 'comment-text'%>
    </div>
    <%= f.hidden_field :request_id, value: @request.id %> <%# Janky, works for now %>

    <%= f.submit 'Submit Comment', class: 'button-submit' %>
  <% end %>
</div>
