<div class='request-list' ng-controller='RequestIndexCtrl' ng-init='initialize(<%= @requests %>)'>
  <div class="column-description">
    <span># of reviews</span>
  </div>
  <input id="request-search-box" type='text' ng-model='filterText' placeholder="Search, please"></input>
  <div class='request' ng-repeat='request in models.requests | request:filterText'>
    <request-item request-id='{{request.id}}' title='{{request.title}}' comment-count='{{request.comments.length}}'></request-item>
  </div>
</div>
