<div class='request-list'>
  <div class="column-description">
    <span># of reviews</span>
  </div>
  <% @requests.each do |request| %>
    <%= render 'request', request: request %>
  <% end %>
</div>
