<div class=>
  <%= link_to 'New', new_request_path %>
</div>
<div class='request-list'>
  <% @requests.each do |request| %>
    <div>
      <%= link_to request.title, request_path(request) %>
    </div>
  <% end %>
</div>
