<div class='request-title'>
  <%= @request.title %>
</div>
<div class='request-description'>
  <%= @request.description %>
</div>

<div class='request-embeded-gist'>
  <script src="<%= @request.embed_url %>"></script>
</div>

<div>
  <%= link_to 'Back', requests_path %>
</div>
