@import "font-awesome";

body {
  padding-top: 100px;
  background-color: #EFEDDF;
  font-family: 'Oxygen Mono', sans-serif;
  font-size: 0.9em;
}

button {
  height: 40px;
  line-height: 40px;
  width: 150px;
  border-radius: 0.25em;
  text-align: center;
  font-size: 1.25em;
  cursor: pointer;
  border: none;
}

#header {
  background-color: #fff;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  line-height: 70px;
  margin-bottom: 200px;
  z-index: 9000;
  box-shadow: 0em 0 0.4em gray;

  .brand {
    text-decoration: none;
    color: #708090;
    font-size: 2em;
    font-family: 'Oleo Script Swash Caps', cursive;
  }

  button {
    float: right;
    margin-top: 15px;
  }

  img {
    float: right;
    margin-left: 30px;
  }

  .fa-sign-out, .fa-bullhorn {
    float: right;
    line-height: 70px;
    padding: 0 20px;
    color: black;
  }

  .alt-logout {
    display: none;
  }

  .alt-new-request {
    display: none;
  }

  .button-github {
    background: #CFCFC7;
  }
}

.container {
  margin: auto;
  width: 1024px;
}

.column-description {
  margin: 0 92px;
  width: 780px;
  font-size: 0.9em;
  opacity: 0.2;
  padding: 0 40px;
  display: inline;
  margin-right: 350px;
}

#request-search-box{
  height: 30px;
  font-size: 1.2em;
  padding: 0 1em;
  border: 0px;
  border-radius: 2px;
}

.request {
  margin: auto;
  width: 780px;
  overflow: hidden;

  table {
    border-spacing: 5px;
  }

  tr {
    width: 100%;
  }

  &:nth-child(odd) {
    .comment-count, .title {
      background: #F0FFFF;
    }
  }

  .comment-count, .title {
    background: white;
    text-align: center;
    border-radius: 5px;
  }

  .comment-count {
    font-size: 3em;
    height: 100px;
    width: 100px;
    line-height: 100px;
    box-sizing: border-box;
  }

  .title {
    width: 100%;
    font-size: 1.5em;
    text-align: left;
    padding: 15px 10px 5px 30px;

    a {
      text-decoration: none;
      color: #666;
    }

    .tag {
      // background: orange;
      font-size: 0.7em;
      margin-top: 5px;
      opacity: 0.3;
      font-weight: bold;
      color: #000;
      padding-right: 7px;
    }
  }
}

.form-errors ul {
  list-style-type: none;
}

.cursor-pointer {
  cursor: pointer;
}

.clear-filter {
  opacity: 0.5;
}

.footer {
  margin-top: 150px;
  text-align: center;

  a {
    text-decoration: none;
    color: black;
    opacity: 0.4;
  }
}
