@import "font-awesome";

body {
  padding-top: 100px;
  background-color: #EFEDDF;
  font-family: 'Oxygen Mono', sans-serif;
  font-size: 0.9em;
}

button {
  height: 40px;
  line-height: 40px;
  width: 150px;
  border-radius: 0.25em;
  text-align: center;
  font-size: 1.25em;
  cursor: pointer;
  border: none;
}

#header {
  background-color: #fff;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  line-height: 70px;
  margin-bottom: 200px;
  z-index: 9000;

  .brand {
    text-decoration: none;
    color: #708090;
    font-size: 2em;
    font-family: 'Oleo Script Swash Caps', cursive;
  }

  button {
    float: right;
    margin-top: 15px;
  }

  img {
    float: right;
    margin-left: 30px;
  }

  .fa-sign-out, .fa-bullhorn {
    float: right;
    line-height: 70px;
    margin-left: 40px;
    color: black;
  }

  .alt-logout {
    display: none;
  }

  .alt-new-request {
    display: none;
  }

  .button-github {
    background: #CFCFC7;
  }
}

.container {
  margin: auto;
  width: 1024px;
}

.column-description {
  // background-color: red;
  margin: 0 92px;
  width: 780px;
  font-size: 0.9em;
  opacity: 0.2;
  padding: 0 40px;
}

.request {
  margin: auto;
  width: 780px;
  overflow: hidden;

  table {
    border-spacing: 5px;
  }

  tr {
    width: 100%;
  }

  &:nth-child(odd) {
    .comment-count, .title {
      background: #F0FFFF;
    }
  }

  .comment-count, .title {
    background: white;
    text-align: center;
    border-radius: 5px;
  }

  .comment-count {
    font-size: 3em;
    height: 100px;
    line-height: 100px;
    padding: 0 40px;
    box-sizing: border-box;
  }

  .title {
    width: 100%;
    font-size: 1.5em;
    text-align: left;
    padding: 10px 10px 10px 30px;

    a {
      text-decoration: none;
      color: #666;
    }
  }
}

.form-errors ul {
  list-style-type: none;
}