.request-info-containter {
  overflow: hidden;
  height: 100%;
  position: relative;

  .request-title {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    letter-spacing: 0.05em;
    font-size: 2.5em;
    height: 100%;
    padding: 0 4em 0.5em 1em;


      .username {
      font-size: 0.3em;
      padding: 0 0 0 0.3em;
    }
  }

  .request-description {
    padding: 0 20em 2em 5em;
  }

  .avatar-img {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1.5em;
    height: 75px;
  }
}

.comments-container {
  position: relative;
  overflow: hidden;

  .request-comment {
    float: right;
    right: 0;
    font-size: 1em;
    line-height: 1.5em;
    width: 96%;
    border-bottom: 2px solid #aaa;
    padding: 2em 1.5em 2em;
    position: relative;
    background: #fefefe;
    word-wrap: break-word;

    .request-comment-message {
      width: 85%;
    }

    .request-comment-time {
      font-size: 0.7em;
      position: absolute;
      right: 1em;
      bottom: 0;
    }

    .request-comment-avatar {
      position: absolute;
      bottom: 1em;
      right: 0;
      margin: 1em 0.7em;
      height: 60px;
    }

    #smiley-face {
      opacity: 0.2;
      color: #708090;
      margin-bottom: 1.5em;
    }
  }

  .comment-form {
    text-align: right;
    float: right;

    .comment-text {
      display: block;
      width: 550px;
      height: 150px;
      padding: 8px;
      border: 1px solid #cccccc;
      line-height: 130%;
      font-size: 13px;
      margin: 1em 0 0 0;
      font-size: 1em;
      font-family: 'Oxygen Mono', sans-serif;
    }

  }

  .addthis_toolbox {
    position: absolute;
    bottom: 76px;
    width: 400px;
  }
}

.button-submit {
  background: #CFCFC7;
  height: 40px;
  line-height: 40px;
  border-radius: 0.25em;
  font-size: 1.25em;
  cursor: pointer;
  border: none;
  margin: 1em;
}

.request-form {
  width: 500px;
  margin: auto;

  .field {
    margin: 10px;
  }

  input[type='text'], input[type='url'], textarea {
    width: 100%;
    font-size: 1.5em;
  }

  input[type='text'], input[type='url'] {
    height: 50px;
  }

  textarea {
    height: 200px;
  }


  .button-submit {
    float: right;
  }
}