<div class='request'>
  <table>
    <tr>
      <td class='comment-count'>
        {{commentCount}}
      </td>
      <td class='title'>
        <a href="/requests/{{requestId}}">{{title}}</a>
      </td>
    </tr>
  </table>
</div>
